<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="speakerRepository"
          class = "com.example.conference.repository.HibernateSpeakerRepositoryImpl"/>

    <bean name="speakerService" class="com.example.conference.service.SpeakerServiceImpl" autowire="constructor">
        <!--=setter injection-->
        <!--since the property name here is 'speakerRepository', the setter that will be called
         automatically to set it will be setSpeakerRepository(). This is a convention! -->
        <!--<property name="speakerRepository" ref="speakerRepository"/>-->

        <!--constructor injection-->
        <!--<constructor-arg index="0" ref="speakerRepository"/>-->


    </bean>



<!--    <bean name="customerService"-->
<!--          class="com.example.conference.CustomerService"-->
<!--          autowire="byName"> -->
<!--          <property name = "0"-->
<!--                    ref = "customerRepository"/>-->
<!--    </bean>-->

</beans>